img{
    height:50px;
}

.list li{
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: #333;
   
}

a:hover{
    text-decoration: none;
    color: #4D4E4D;
    font-weight: bold;
    font-style: normal;
}